name: Main
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Set Environment Variables
      run: |
        if [[ ${{ github.REF }} == 'refs/heads'* ]]; then # this is a branch, not a pull request
          echo "BRANCH=$(echo ${{ github.REF }} | sed -E 's|refs/[a-zA-Z]+/||')" >> $GITHUB_ENV
        else
          echo "BRANCH=$(echo ${{ github.HEAD_REF }} | sed -E 's|refs/[a-zA-Z]+/||')" >> $GITHUB_ENV
        fi

    - name: Check Out Code
      uses: actions/checkout@v2
      with:
        ref: ${{ env.BRANCH }}

    - name: Install Ruby and Bundle Install
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Rspec
      run: bundle exec rspec

    - name: Rubocop
      run: bundle exec rubocop
