name: Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  setup:
    outputs:
      branch: ${{ steps.set_branch_variable.outputs.branch }}
    runs-on: ubuntu-latest
    steps:
      - id: set_branch_variable
        name: Set Branch Variable
        uses: emmahsax/github-actions/set-branch-variable@main

  rspec:
    needs: [ setup ]
    uses: emmahsax/github-actions/.github/workflows/ruby-command.yml@major_refactor
    with:
      branch: ${{ needs.setup.outputs.branch }}
      command: bundle exec rspec
      ruby_version: '3.4.5'

  rubocop:
    needs: [ setup ]
    uses: emmahsax/github-actions/.github/workflows/ruby-command.yml@major_refactor
    with:
      branch: ${{ needs.setup.outputs.branch }}
      command: bundle exec rubocop
      ruby_version: '3.4.5'
